@use 'variables' as vars;
@use 'sass:map';

@mixin respond($breakpoint) {
  @if map.has-key(vars.$breakpoints, $breakpoint) {
    @media (min-width: map.get(vars.$breakpoints, $breakpoint)) {
      @content;
    }
  } @else {
    @warn "Unknown breakpoint: #{$breakpoint}";
  }
}

@mixin container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: vars.$container-padding;
  padding-right: vars.$container-padding;

  @include respond('sm') { max-width: 540px; }
  @include respond('md') { max-width: 720px; }
  @include respond('lg') { max-width: 960px; }
  @include respond('xl') { max-width: 1140px; }
  @include respond('xxl') { max-width: 1320px; }
}
