$breakpoints: (
  "sm": 576px,
  "md": 768px,
  "lg": 1024px,
  "xl": 1400px,
);

$container-padding: 1rem;
$max-width: 1200px;

$text-sm: 16px;
$text-md: 18px;
$text-lg: 20px;
$text-xl: 24px;
$text-2xl: 30px;

$primary-color: #00044f;
$secondary-color: #ffc400;
$text-color: #7a7a7a;

$boxShadow: rgba(145, 158, 171, 0.2) 0px 0px 2px 0px, rgba(145, 158, 171, 0.12) 0px 12px 24px -4px;
