@use './index' as *;
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: "Roboto", sans-serif;
  background: white;
  color: #1c1c1c;
}

.container {
    @include container;
}

main {
    margin-top: 80px;
}